<footer class="footer_wrap footer_default scheme_default">
   <div class="footer_widgets_wrap widget_area">
      <div class="footer_widgets_inner widget_area_inner">
         <div class="content_wrap">
            <div class="columns_wrap">
               <aside id="trx_addons_widget_contacts-2" class="column-1_3 widget widget_contacts">
                  <div class="contacts_logo"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/footer_logo.png" alt="" width="220" height="46"></div>
                  <div class="contacts_description">
                     <p>Et scaevola delicata vix, mea ei invidunt quodsi eripuit definiebas at pri. Placerat voluptaria meleos malis civibus an dolor </p>
                  </div>
               </aside>
               <aside id="nav_menu-2" class="column-1_3 widget widget_nav_menu">
                  <h5 class="widget_title">Quick Links</h5>
                  <div class="menu-footer-menu-container">
                     <ul id="menu-footer-menu" class="menu">
                        <li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-240"><a href="http://smarthead.ancorathemes.com/about-style-1/">About Us</a></li>
                        <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="http://smarthead.ancorathemes.com/become-a-tutor/">Become a Tutor</a></li>
                        <li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a href="http://smarthead.ancorathemes.com/blog-classic-2-columns/">Our News</a></li>
                        <li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-244"><a href="http://smarthead.ancorathemes.com/gallery-cobbles/">Portfolio</a></li>
                        <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="http://smarthead.ancorathemes.com/contacts/">Contact Us</a></li>
                     </ul>
                  </div>
               </aside>
               <aside id="trx_addons_widget_contacts-3" class="column-1_3 widget widget_contacts">
                  <h5 class="widget_title">Our Contacts</h5>
                  <div class="contacts_info">
                     <div class="contacts_left"><span class="contacts_address">350 Avenue, New York, NY 10001</span></div>
                     <div class="contacts_right"><span class="contacts_email"><a href="mailto:"></a><a href="mailto:info@yoursite.com">info@yoursite.com</a></span><span class="contacts_phone"><a href="tel:800-123-4567">800-123-4567</a></span></div>
                  </div>
                  <div class="contacts_socials socials_wrap"><span class="social_item"><a href="https://twitter.com/ancora_themes" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a></span><span class="social_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a></span><span class="social_item"><a href="https://www.instagram.com/ancora_themes/" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a></span><span class="social_item"><a href="https://dribbble.com/AncoraThemes" target="_blank" class="social_icons social_dribbble"><span class="trx_addons_icon-dribbble"></span></a></span></div>
               </aside>
            </div>
            <!-- /.columns_wrap -->
         </div>
         <!-- /.content_wrap -->			
      </div>
      <!-- /.footer_widgets_inner -->
   </div>
   <!-- /.footer_widgets_wrap -->
   <div class="footer_copyright_wrap scheme_">
      <div class="footer_copyright_inner">
         <div class="content_wrap">
            <div class="copyright_text"><a href="https://themeforest.net/user/ancorathemes/portfolio" target="_blank">AncoraThemes</a> © 2018. All Rights Reserved.</div>
         </div>
      </div>
   </div>
</footer>