<div class="top_panel_top">
   <div class="content_wrap">
      <div class="custom_button_language">
         <a href="#" class="language_button down"><span>Language</span></a>
         <ul class="language_list">
            <li><a rel="alternate" hreflang="en" href="http://smarthead.ancorathemes.com/contacts/" class="active">English</a></li>
         </ul>
      </div>
      <a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Login</span></a>        
   </div>
</div>
<div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed    scheme_default" style="top: auto;">
   <div class="content_wrap">
      <div class="columns_wrap">
         <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
            <div class="sc_layouts_item"><a class="sc_layouts_logo" href="http://smarthead.ancorathemes.com/"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
         </div>
         <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
            <div class="sc_layouts_item">
               <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                  <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                     <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-105">
                        <a href="#" class="sf-with-ul"><span>Home</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-235"><a href="http://smarthead.ancorathemes.com/"><span>Home 1</span></a></li>
                           <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="http://smarthead.ancorathemes.com/home-2/"><span>Home 2</span></a></li>
                           <li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="http://smarthead.ancorathemes.com/home-3/"><span>Home 3</span></a></li>
                           <li id="menu-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a href="http://smarthead.ancorathemes.com/home-4/"><span>Home 4</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                        <a href="#" class="sf-with-ul"><span>Features</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                              <a href="#" class="sf-with-ul"><span>Tools</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://smarthead.ancorathemes.com/shortcodes/"><span>Shortcodes</span></a></li>
                                 <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="http://smarthead.ancorathemes.com/typography/"><span>Typography</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                              <a href="#" class="sf-with-ul"><span>Help</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://smarthead.ancorathemes.com/support/"><span>Support</span></a></li>
                                 <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://smarthead.ancorathemes.com/video-tutorials/"><span>Video Tutorials</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                              <a href="#" class="sf-with-ul"><span>Pages</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                                    <a href="#" class="sf-with-ul"><span>About Us</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://smarthead.ancorathemes.com/about-style-1/"><span>Style 1</span></a></li>
                                       <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="http://smarthead.ancorathemes.com/about-style-2/"><span>Style 2</span></a></li>
                                    </ul>
                                 </li>
                                 <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                                    <a href="#" class="sf-with-ul"><span>Gallery</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                                       <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://smarthead.ancorathemes.com/gallery-cobbles/"><span>Cobbles</span></a></li>
                                       <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="http://smarthead.ancorathemes.com/shop/"><span>Shop</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/tutors/"><span>Find a Tutor</span></a></li>
                     <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="http://smarthead.ancorathemes.com/become-a-tutor/"><span>Become a Tutor</span></a></li>
                     <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119">
                        <a href="#" class="sf-with-ul"><span>News</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://smarthead.ancorathemes.com/blog-streampage/"><span>Blog Streampage</span></a></li>
                           <li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-120">
                              <a href="#" class="sf-with-ul"><span>Classic Style</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://smarthead.ancorathemes.com/blog-classic-2-columns/"><span>2 Columns</span></a></li>
                                 <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="http://smarthead.ancorathemes.com/blog-classic-3-columns/"><span>3 Columns</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-124">
                              <a href="#" class="sf-with-ul"><span>Chess Style</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://smarthead.ancorathemes.com/blog-chess-2-columns/"><span>2 Columns</span></a></li>
                                 <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="http://smarthead.ancorathemes.com/blog-chess-4-columns/"><span>4 Columns</span></a></li>
                                 <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://smarthead.ancorathemes.com/blog-chess-6-columns/"><span>6 Columns</span></a></li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                     <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-128 current_page_item menu-item-165"><a href="http://smarthead.ancorathemes.com/contacts/"><span>Contacts</span></a></li>
                  </ul>
               </nav>
               <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                  <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                  <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.sc_layouts_row -->
   </div>
   <!-- /.content_wrap -->
</div>