<!DOCTYPE html>
<html>

  <head>
    <title>Tutorry</title>
    
    <link rel="stylesheet" href="/css/__colors.css?ver=4.9.8">
    <link rel="stylesheet" href="/css/__styles.css?ver=4.9.8">
     <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trx_addons.css">
    <link rel="stylesheet" href="/css/responsive.css?ver=4.9.8">
    <link rel="stylesheet" href="/css/tutor-plugin.css">
     <link rel="stylesheet" href="/css/js_composer.min.css?ver=5.5.2">
<link rel="stylesheet" href="/css/tutor-icons.css">
<link rel="stylesheet" href="/css/language-selector.css?v=3.3.8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="/js/new"></script>
<style>

.vc_custom_1486386473757 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg.jpg?id=139) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1486386700771{padding-top: 7rem !important;padding-bottom: 7rem !important;}.vc_custom_1486386336390{padding-top: 7rem !important;padding-bottom: 7rem !important;background-color: #f1f4f7 !important;}
.vc_custom_1486387449251{padding-top: 7rem !important;padding-bottom: 7rem !important;background-color: #f1f4f7 !important; }.vc_custom_1486386226873{margin-bottom: 5.5rem !important;}.vc_custom_1486386304291{margin-bottom: 5.5rem !important;}.vc_custom_1495537876891{margin-top: 3rem !important;}.vc_custom_1484233876710{margin-bottom: 5.5rem !important;}.vc_custom_1484578313285{background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/subscribe.jpg?id=142) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
</style>




     <style type="text/css" media="screen">
       >#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover,
body #booked-profile-page input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar th,
body table.booked-calendar thead,
body table.booked-calendar thead th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .booked-tabs li.active a,
body #booked-profile-page .booked-tabs li.active a:hover,
body #booked-profile-page .appt-block .google-cal-button>a:hover,
#ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header {
  background: #134477 !important;
}

body #booked-profile-page input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .appt-block .google-cal-button>a:hover {
  border-color: #134477 !important;
}

body table.booked-calendar tr.days,
body table.booked-calendar tr.days th,
body .booked-calendarSwitcher.calendar,
body #booked-profile-page .booked-tabs,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead th {
  background: #092746 !important;
}

body table.booked-calendar tr.days th,
body #booked-profile-page .booked-tabs {
  border-color: #092746 !important;
}

#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a:hover,
body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
body #booked-profile-page .appt-block .google-cal-button>a,
body .booked-modal p.booked-title-bar,
body table.booked-calendar td:hover .date span,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover,
.booked-ms-modal .booked-book-appt
/* Multi-Slot Booking */

{
  background: #aece61;
}

body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body #booked-profile-page .appt-block .google-cal-button>a,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover {
  border-color: #aece61;
}

body .booked-modal .bm-window p i.fa,
body .booked-modal .bm-window a,
body .booked-appt-list .booked-public-appointment-title,
body .booked-modal .bm-window p.appointment-title,
.booked-ms-modal.visible:hover .booked-book-appt {
  color: #aece61;
}

.booked-appt-list .timeslot.has-title .booked-public-appointment-title {
  color: inherit;
}
     </style>
    

 <link rel="stylesheet" id="trx_addons-icons-css" href="/css/trx_addons_icons-embedded.css?ver=4.9.8" type="text/css" media="all">


 <link rel="stylesheet" href="/css/customcss1.css">


    <style type="text/css">
    .page_wrap {
        background-color: #f1f4f7 !important;
    }
    

    

.vc_custom_1486386473757 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
  background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg.jpg?id=139) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1486386700771 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.vc_custom_1486386336390 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
  background-color: #f1f4f7 !important;
}

.vc_custom_1486387449251 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
  background-color: #f1f4f7 !important;
}

.vc_custom_1486386226873 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1486386304291 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1495537876891 {
  margin-top: 3rem !important;
}

.vc_custom_1484233876710 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1484578313285 {
  background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/subscribe.jpg?id=142) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}



.vc_custom_1484230061946 {
    margin-bottom: 40px !important;
    padding-top: 7rem !important;
    padding-bottom: 1rem !important;
    background: #092746 url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_guarantee.jpg?id=211) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1484143305148 {
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/banner.jpg?id=214) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.scheme_default .inverse_colors *, .scheme_default .inverse_colors .sc_services_iconed .sc_services_item_content .sc_services_item_title a{
   color:#ffffff;
}
element.style {
    position: relative;
    left: -175.545px;
    box-sizing: border-box;
    width: 1381px;
    padding-left: 175.545px;
    padding-right: 175.455px;
}
.vc_custom_1485435081882 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_cta.jpg?id=224) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
</style>


<script type='text/javascript' src='http://smarthead.ancorathemes.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='http://smarthead.ancorathemes.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='http://smarthead.ancorathemes.com/wp-content/plugins/essential-grid/public/assets/js/lightbox.js?ver=2.1.6.2'></script>
<script type='text/javascript' src='http://smarthead.ancorathemes.com/wp-content/plugins/essential-grid/public/assets/js/jquery.themepunch.tools.min.js?ver=2.1.6.2'></script>
<script type='text/javascript' src='http://smarthead.ancorathemes.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js?ver=5.4.6.4'></script>

  </head>

  <body class="home page-template-default page page-id-219 frontpage body_tag scheme_default blog_mode_home body_style_wide  is_stream blog_style_excerpt sidebar_hide expand_content header_style_header-default header_position_over menu_style_top wpb-js-composer js-comp-ver-5.5.2 vc_responsive desktop_layout">




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <style type="text/css">
   
   .modal-open{overflow:hidden}
   .modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;
 </style>


    <div class="body_wrap">
      <div class="page_wrap">
     
        {{{body}}}
        {{> footer}}
      </div>
    </div>


<div class="trx_addons_popup trx_addons_tabs mfp-hide modal fade" id="myModal">
  <ul class="trx_addons_tabs_titles"><li class="trx_addons_tabs_title trx_addons_tabs_title_login">
      <a href="#trx_addons_login_content">
        <i class="trx_addons_icon-lock-open"></i>     
        Login     </a>
    </li><li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
      <a href="#trx_addons_register_content">
        <i class="trx_addons_icon-user-plus"></i>     
        Register      </a>
    </li></ul>  <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
    <div>
      <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login" > 
        <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="http://smarthead.ancorathemes.com/wp-login.php" method="post" name="trx_addons_login_form">
          <input type="hidden" id="login_redirect_to" name="redirect_to" value="">
          <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
            <label class="sc_form_field sc_form_field_log required">
    <span class="sc_form_field_wrap"><input type="text" 
          name="log"
          id="log"
          value=""
           aria-required="true"                   ><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-user-alt"></i><span class="sc_form_field_content" data-content="Login">Login</span></span>  </span>
</label>
          </div>
          <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
            <label class="sc_form_field sc_form_field_pwd required">
    <span class="sc_form_field_wrap"><input type="password" 
          name="pwd"
          id="pwd"
          value=""
           aria-required="true"                   ><span class="sc_form_field_hover"><i class="sc_form_field_icon trx_addons_icon-lock"></i><span class="sc_form_field_content" data-content="Password">Password</span></span>  </span>
</label>
          </div>
          <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
            <a href="http://smarthead.ancorathemes.com/my-account/lost-password/" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
            <input type="checkbox" value="forever" id="rememberme" name="rememberme"><label for="rememberme"> Remember me</label>
          </div>
          <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
            <input type="submit" class="submit_button" value="Login">
          </div>
          <div class="trx_addons_message_box sc_form_result"></div>
        </form>
      </div>
    </div>




 


  </body>

</html>

