<!DOCTYPE html>
<html>

  <head>
    <title>Tutorry</title>
    
    <link rel="stylesheet" href="/css/__colors.css?ver=4.9.8">
    <link rel="stylesheet" href="/css/__styles.css?ver=4.9.8">
     <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/trx_addons.css">
    <link rel="stylesheet" href="/css/responsive.css?ver=4.9.8">
    <link rel="stylesheet" href="/css/tutor-plugin.css">
     <link rel="stylesheet" href="/css/js_composer.min.css?ver=5.5.2">
<link rel="stylesheet" href="/css/tutor-icons.css">
<link rel="stylesheet" href="/css/language-selector.css?v=3.3.8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script src="/js/new"></script>
<style>

.vc_custom_1486386473757 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg.jpg?id=139) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1486386700771{padding-top: 7rem !important;padding-bottom: 7rem !important;}.vc_custom_1486386336390{padding-top: 7rem !important;padding-bottom: 7rem !important;background-color: #f1f4f7 !important;}
.vc_custom_1486387449251{padding-top: 7rem !important;padding-bottom: 7rem !important;background-color: #f1f4f7 !important; }.vc_custom_1486386226873{margin-bottom: 5.5rem !important;}.vc_custom_1486386304291{margin-bottom: 5.5rem !important;}.vc_custom_1495537876891{margin-top: 3rem !important;}.vc_custom_1484233876710{margin-bottom: 5.5rem !important;}.vc_custom_1484578313285{background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/subscribe.jpg?id=142) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
</style>




     <style type="text/css" media="screen">
       >#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td a.ui-state-active:hover,
body #booked-profile-page input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar th,
body table.booked-calendar thead,
body table.booked-calendar thead th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .booked-tabs li.active a,
body #booked-profile-page .booked-tabs li.active a:hover,
body #booked-profile-page .appt-block .google-cal-button>a:hover,
#ui-datepicker-div.booked_custom_date_picker .ui-datepicker-header {
  background: #134477 !important;
}

body #booked-profile-page input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar th,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover,
body #booked-profile-page .booked-profile-header,
body #booked-profile-page .appt-block .google-cal-button>a:hover {
  border-color: #134477 !important;
}

body table.booked-calendar tr.days,
body table.booked-calendar tr.days th,
body .booked-calendarSwitcher.calendar,
body #booked-profile-page .booked-tabs,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar thead th {
  background: #092746 !important;
}

body table.booked-calendar tr.days th,
body #booked-profile-page .booked-tabs {
  border-color: #092746 !important;
}

#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a,
#ui-datepicker-div.booked_custom_date_picker table.ui-datepicker-calendar tbody td.ui-datepicker-today a:hover,
body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body #booked-profile-page .booked-profile-appt-list .appt-block.approved .status-block,
body #booked-profile-page .appt-block .google-cal-button>a,
body .booked-modal p.booked-title-bar,
body table.booked-calendar td:hover .date span,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover,
.booked-ms-modal .booked-book-appt
/* Multi-Slot Booking */

{
  background: #aece61;
}

body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body #booked-profile-page .appt-block .google-cal-button>a,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active,
body .booked-list-view a.booked_list_date_picker_trigger.booked-dp-active:hover {
  border-color: #aece61;
}

body .booked-modal .bm-window p i.fa,
body .booked-modal .bm-window a,
body .booked-appt-list .booked-public-appointment-title,
body .booked-modal .bm-window p.appointment-title,
.booked-ms-modal.visible:hover .booked-book-appt {
  color: #aece61;
}

.booked-appt-list .timeslot.has-title .booked-public-appointment-title {
  color: inherit;
}
     </style>
    

 <link rel="stylesheet" id="trx_addons-icons-css" href="/css/trx_addons_icons-embedded.css?ver=4.9.8" type="text/css" media="all">


 <link rel="stylesheet" href="/css/customcss1.css">


    <style type="text/css">
    .page_wrap {
        background-color: #f1f4f7 !important;
    }
    

    

.vc_custom_1486386473757 {
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
  background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg.jpg?id=139) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.vc_custom_1486386700771 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.vc_custom_1486386336390 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
  background-color: #f1f4f7 !important;
}

.vc_custom_1486387449251 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
  background-color: #f1f4f7 !important;
}

.vc_custom_1486386226873 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1486386304291 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1495537876891 {
  margin-top: 3rem !important;
}

.vc_custom_1484233876710 {
  margin-bottom: 5.5rem !important;
}

.vc_custom_1484578313285 {
  background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/subscribe.jpg?id=142) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}



.vc_custom_1484230061946 {
    margin-bottom: 40px !important;
    padding-top: 7rem !important;
    padding-bottom: 1rem !important;
    background: #092746 url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_guarantee.jpg?id=211) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1484143305148 {
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/banner.jpg?id=214) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.scheme_default .inverse_colors *, .scheme_default .inverse_colors .sc_services_iconed .sc_services_item_content .sc_services_item_title a{
   color:#ffffff;
}
element.style {
    position: relative;
    left: -175.545px;
    box-sizing: border-box;
    width: 1381px;
    padding-left: 175.545px;
    padding-right: 175.455px;
}
.vc_custom_1485435081882 {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
    background-image: url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/bg_cta.jpg?id=224) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
</style>

  </head>

  <body class="home page-template-default page page-id-219 frontpage body_tag scheme_default blog_mode_home body_style_wide  is_stream blog_style_excerpt sidebar_hide expand_content header_style_header-default header_position_over menu_style_top wpb-js-composer js-comp-ver-5.5.2 vc_responsive desktop_layout">

    <div class="body_wrap">
      <div class="page_wrap">
     
        {{{body}}}
        {{> footer}}
      </div>
    </div>

  </body>

</html>