


<div class="top_panel_top">
   <div class="content_wrap">
      <div class="custom_button_language">
         <a href="#" class="language_button down"><span>Language</span></a>
         <ul class="language_list">
            <li><a rel="alternate" hreflang="en" href="http://smarthead.ancorathemes.com/contacts/" class="active">English</a></li>
         </ul>
      </div>
      <a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Login</span></a>        
   </div>
</div>
<div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed    scheme_default" style="top: auto;">
   <div class="content_wrap">
      <div class="columns_wrap">
         <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
            <div class="sc_layouts_item"><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
         </div>
         <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
            <div class="sc_layouts_item">
               <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                  <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                     <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-105"><a href="/" class="sf-with-ul"><span>Home</span></a>
                     <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                        <a href="/users/features" class="sf-with-ul"><span>Features</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                              <a href="#" class="sf-with-ul"><span>Tools</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="#"><span>Shortcodes</span></a></li>
                                 <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="#"><span>Typography</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                              <a href="#" class="sf-with-ul"><span>Help</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="#"><span>Support</span></a></li>
                                 <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="#"><span>Video Tutorials</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                              <a href="#" class="sf-with-ul"><span>Pages</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                                    <a href="#" class="sf-with-ul"><span>About Us</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="#"><span>Style 1</span></a></li>
                                       <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="#"><span>Style 2</span></a></li>
                                    </ul>
                                 </li>
                                 <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                                    <a href="#" class="sf-with-ul"><span>Gallery</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                                       <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#"><span>Cobbles</span></a></li>
                                       <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="#"><span>Shop</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/users/find_tutor"><span>Find a Tutor</span></a></li>
                     <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="/users/become_tutor"><span>Become a Tutor</span></a></li>
                     <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119"><a href="/users/inner" class="sf-with-ul"><span>News</span></a>
                     <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-128 current_page_item menu-item-165"><a href="#"><span>Contacts</span></a></li>
                  </ul>
               </nav>
               <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                  <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="/contactsfea">
                  <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.sc_layouts_row -->
   </div>
   <!-- /.content_wrap -->
</div>
<div class="top_panel_title sc_layouts_row">
 
		<div class="content_wrap">
			<div class="sc_layouts_column sc_layouts_column_align_center">
				<div class="sc_layouts_item">
					<div class="sc_layouts_title">
						<div class="sc_layouts_title_title">							<h1 class="sc_layouts_title_caption">BECOME A TUOTOR</h1>
							</div><div class="sc_layouts_title_breadcrumbs"><div class="breadcrumbs"><a class="breadcrumbs_item home" href="/">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Become a Tutor</span></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	


	<div class="page_content_wrap scheme_default">

								<div class="content_wrap">
				
					
                    
					<div class="content">
										

<article id="post-131" class="post_item_single post_type_page post-131 page type-page status-publish hentry">

	
	<div class="post_content entry-content">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1486386700771"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="sc_title_872541839" class="sc_title sc_title_default  vc_custom_1486386226873"><h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">Tutor with the Best!</h6><h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Become a <span class="accent_color">Tutor</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2></div><!-- /.sc_title -->
		</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Private tutoring is not always effective in raising academic achievement; and in some schools students commonly skip classes or sleep through lessons because they are tired after excessive external study. This means that the shadow system can make regular schooling less efficient.</p>
<p>Teachers who spend more time focusing on private lessons than regular classes can cause greater inefficiencies in the mainstream school system. Situations in which teachers provide extra private lessons for pupils for whom they are already responsible in the public system can lead to corruption.</p>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h6>Skill Requirements</h6>
<ul>
<li>Knowledge of subject matter</li>
<li>Ability to effectively communicate subject matter</li>
<li>Application of different learning strategies including active learning and peer-to-peer techniques</li>
<li>Ability to listen and answer questions during tutoring sessions</li>
<li>Set goals and/or expectations during the first few sessions</li>
</ul>

		</div>
	</div>
</div></div></div></div><div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1486386336390 vc_row-has-fill" style="position: relative; left: -175.545px; box-sizing: border-box; width: 1381px; padding-left: 175.545px; padding-right: 175.455px;"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div id="sc_title_111704167" class="sc_title sc_title_default  vc_custom_1486386304291"><h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">Find the Perfect Tutoring Job</h6><h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Apply <span class="accent_color">Now</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2></div><!-- /.sc_title -->


<div id="sc_promo_1855122918" class="sc_promo sc_promo_default sc_promo_size_normal sc_promo_no_paddings sc_promo_image_position_right"><div class="sc_promo_image" style="background-image:url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/bg_promo.jpg);width:51%;right: 0;"></div><div class="sc_promo_text" style="width: 49%;float: left;">
			<div class="sc_promo_text_inner" style=""><h6 class="sc_item_subtitle sc_promo_subtitle sc_align_left sc_item_title_style_default">Calling</h6><h3 class="sc_item_title sc_promo_title sc_align_left sc_item_title_style_default">All Experts!</h3><div class="sc_promo_content sc_item_content">
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>When private tutoring is provided by well trained tutor however the effects can be dramatic, with pupils improving performance by two standard deviations. The system of excessive private tutoring will take time for activities such as playing soccer or joining clubs from students.</p>

		</div>
	</div>
<div class="sc_item_button sc_button_wrap sc_align_center"><a href="/users/register" id="sc_button_224923858" class="sc_button sc_button_default  vc_custom_1495537876891 sc_button_size_normal sc_button_icon_left sc_button_hover_slide_left"><span class="sc_button_text"><span class="sc_button_title">register</span></span><!-- /.sc_button_text --></a><!-- /.sc_button --></div><!-- /.sc_item_button --></div></div>
		</div><!-- /.sc_promo_text --></div><!-- /.sc_promo --></div></div></div></div>
