<style>
   div {
   display: block;
   }
</style>
<div class="top_panel_top">
   <div class="content_wrap">
      <div class="custom_button_language">
         <a href="#" class="language_button down"><span>Language</span></a>
         <ul class="language_list">
            <li><a rel="alternate" hreflang="en" href="/" class="active">English</a></li>
         </ul>
      </div>
      <a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Login</span></a>        
   </div>
</div>
<div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed    scheme_default" style="top: auto;">
   <div class="content_wrap">
      <div class="columns_wrap">
         <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
            <div class="sc_layouts_item"><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
         </div>
         <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
            <div class="sc_layouts_item">
               <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                  <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                     <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-105"><a href="/" class="sf-with-ul"><span>Home</span></a>
                    <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                        <a href="/users/features" class="sf-with-ul"><span>Features</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                              <a href="#" class="sf-with-ul"><span>Tools</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="#"><span>Shortcodes</span></a></li>
                                 <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="#"><span>Typography</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                              <a href="#" class="sf-with-ul"><span>Help</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="#"><span>Support</span></a></li>
                                 <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="#"><span>Video Tutorials</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                              <a href="#" class="sf-with-ul"><span>Pages</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                                    <a href="#" class="sf-with-ul"><span>About Us</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="#"><span>Style 1</span></a></li>
                                       <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="#"><span>Style 2</span></a></li>
                                    </ul>
                                 </li>
                                 <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                                    <a href="#" class="sf-with-ul"><span>Gallery</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                                       <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#"><span>Cobbles</span></a></li>
                                       <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="#"><span>Shop</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/users/gettutors"><span>Find a Tutor</span></a></li>
                     <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="/users/become_tutor"><span>Become a Tutor</span></a></li>
                     <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119"><a href="/users/inner" class="sf-with-ul"><span>News</span></a>
                     <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-128 current_page_item menu-item-165"><a href="/users/contacts"><span>Contacts</span></a></li>
                  </ul>
               </nav>
               <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                  <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="/contacts">
                  <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.sc_layouts_row -->
   </div>
   <!-- /.content_wrap -->
</div>
<div class="top_panel_title sc_layouts_row">
   <div class="content_wrap">
      <div class="sc_layouts_column sc_layouts_column_align_center">
         <div class="sc_layouts_item">
            <div class="sc_layouts_title">
               <div class="sc_layouts_title_title">
                  <h1 class="sc_layouts_title_caption">All Tutors</h1>
               </div>
               <div class="sc_layouts_title_breadcrumbs">
                  <div class="breadcrumbs"><a class="breadcrumbs_item home" href="/">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">All Tutors</span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="content_wrap">
   <div class="tp-form-shortcode-wrap">
      <div class="tp-form-header">
         <h6 class="tp-form-title">Find Your</h6>
         <h4 class="tp-form-title">Tutor</h4>
      </div>
      <div class="tp-form">
         <form role="search" action="/users/gettutors" method="get" id="tutor-search-form" class="tutor-plugin tutor-plugin-form-search">
            <input type="hidden" name="post_type" value="tutor">
            <input type="hidden" name="s" value="">
            <input type="text" name="n" placeholder="Enter a Subject" value="" autocomplete="off">
            <span class="type-number"><input type="number" name="z" min="0" placeholder="Zipcode" value="" autocomplete="off"><span class="q_inc"></span><span class="q_dec"></span></span>
            <label class="select_container">
               <select name="g" class="filled">
                  <option value="all" selected="">All Groups</option>
                  <option value="online">Online</option>
                  <option value="personal">Personal</option>
               </select>
            </label>
            <div class="tp-form-button">
               <button type="submit" value="Find Now" class="sc_button_hover_slide_left">Find Now</button>
            </div>
         </form>
      </div>
   </div>
   <div class="sidebar left widget_area scheme_default" role="complementary">
      <div class="sidebar_inner">
         <aside id="tag_cloud-3" class="widget widget_tag_cloud">
            <h5 class="widget_title">Subjects</h5>
            <div class="tagcloud"><a href="http://smarthead.ancorathemes.com/tutor_tag/architecture/" class="tag-cloud-link tag-link-65 tag-link-position-1 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Architecture (2 items)">Architecture</a>
               <a href="/users/biology" class="tag-cloud-link tag-link-62 tag-link-position-2 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Biology (2 items)">Biology</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/business-study/" class="tag-cloud-link tag-link-63 tag-link-position-3 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Business Study (2 items)">Business Study</a>
               <a href="/users/chemistry" class="tag-cloud-link tag-link-64 tag-link-position-4 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Chemistry (2 items)">Chemistry</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/coding/" class="tag-cloud-link tag-link-59 tag-link-position-5 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Coding (2 items)">Coding</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/communication/" class="tag-cloud-link tag-link-60 tag-link-position-6 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Communication (2 items)">Communication</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/computer-science/" class="tag-cloud-link tag-link-61 tag-link-position-7 sc_button_hover_slide_left" style="font-size: 22pt;" aria-label="Computer Science (2 items)">Computer Science</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/creative-writing/" class="tag-cloud-link tag-link-72 tag-link-position-8 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Creative Writing (1 item)">Creative Writing</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/engineering/" class="tag-cloud-link tag-link-73 tag-link-position-9 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Engineering (1 item)">Engineering</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/english/" class="tag-cloud-link tag-link-56 tag-link-position-10 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="English (1 item)">English</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/marketing/" class="tag-cloud-link tag-link-70 tag-link-position-11 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Marketing (1 item)">Marketing</a>
               <a href="/users/gettutors/?n=Maths" class="tag-cloud-link tag-link-71 tag-link-position-12 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Mathematics (1 item)">Mathematics</a>
               <a href="/users/gettutors/?n=Chemistry" class="tag-cloud-link tag-link-67 tag-link-position-13 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Organic Chemistry (1 item)">Organic Chemistry</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/physics/" class="tag-cloud-link tag-link-68 tag-link-position-14 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Physics (1 item)">Physics</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/social-studies/" class="tag-cloud-link tag-link-69 tag-link-position-15 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Social Studies (1 item)">Social Studies</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/spanish/" class="tag-cloud-link tag-link-54 tag-link-position-16 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="Spanish (1 item)">Spanish</a>
               <a href="http://smarthead.ancorathemes.com/tutor_tag/world-history/" class="tag-cloud-link tag-link-66 tag-link-position-17 sc_button_hover_slide_left" style="font-size: 8pt;" aria-label="World History (1 item)">World History</a>
            </div>
         </aside>
         <aside id="categories-3" class="widget widget_categories">
            <h5 class="widget_title">Categories</h5>
            <ul>
               <li class="cat-item cat-item-10"><a href="http://smarthead.ancorathemes.com/category/distance-learning/">Distance Learning</a></li>
               <li class="cat-item cat-item-7"><a href="http://smarthead.ancorathemes.com/category/lesson-planning/">Lesson Planning</a></li>
               <li class="cat-item cat-item-8"><a href="http://smarthead.ancorathemes.com/category/online-tutoring/">Online Tutoring</a></li>
               <li class="cat-item cat-item-9"><a href="http://smarthead.ancorathemes.com/category/resources/">Resources</a></li>
               <li class="cat-item cat-item-6"><a href="http://smarthead.ancorathemes.com/category/tutoring/">Tutoring</a></li>
            </ul>
         </aside>
      </div>
      <!-- /.sidebar_inner -->
   </div>
   <!-- /.sidebar -->
</div>
<div class="content">
   <form action='/users/filter' class="tutor-plugin-ordering" method="get">
      <label class="select_container">
         <select name="orderby" class="orderby filled">
            <option value="default" selected="selected">Default sorting</option>
            <option value="price">Sort by price: low to high</option>
            <option value="price-desc">Sort by price: high to low</option>
         </select>
      </label>
      <input type="submit">
   </form>

   <!---start of tutor profile--->
   <div class="tp-columns-container">

      {{# each tutors}}
      <div class="tutor-plugin column-1-2">
         {{# each this}}
         <div id="post-578" class="post-578 tutor type-tutor status-publish has-post-thumbnail hentry tutor_group-personal tutor_tag-coding tutor_tag-communication tutor_tag-computer-science">
            <div class="tp-single tp-post">

               <div class="tp-featured">
                  <img width="740" height="792" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-740x792.jpg" class="attachment-tutor-archive size-tutor-archive wp-post-image" alt="" srcset="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-740x792.jpg 740w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-280x300.jpg 280w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor8-370x397.jpg 370w" sizes="(max-width: 740px) 100vw, 740px">                        
                  <div class="tp-featured-overlay">
                     <div class="tp-price">
                        <span class="tp-present-price"><span class="small">$</span>{{this.price}}                                                </span>
                        <span class="tp-period-price">hour                                        </span>
                     </div>
                  </div>
               </div>

               <div class="tp-content">
                  <div class="tp-subjects">
                  <span class="tp-tutor-subjects">{{this.subjects}}</span>
                  </div>
                  <div class="tp-title">
                     <a class="tp-title-link" href="http://smarthead.ancorathemes.com/tutors/josh-summers/">{{this.name}}</a>
                  </div>
                  <div class="tp-read-more">
                     <a class="tp-title-read-more sc_button_hover_slide_left" href="http://smarthead.ancorathemes.com/tutors/josh-summers/">View Tutor</a>
                  </div>
               </div>

            </div>

         </div>
         {{/each}}
      </div>
      {{/each}}       
   </div><!----end of tutor profile--->





</div>
