<header class="top_panel top_panel_default without_bg_image header-default scheme_default">
   <div class="top_panel_top">
      <div class="content_wrap">
         <div class="custom_button_language">
            <a href="#" class="language_button down"><span>Language</span></a>
            <ul class="language_list">
               <li><a rel="alternate" hreflang="en" href="http://smarthead.ancorathemes.com" class="active">English</a></li>
            </ul>
         </div>
         <a href="/users/login" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Login</span></a>        
      </div>
   </div>
   <div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed    scheme_default" style="top: auto;">
      <div class="content_wrap">
         <div class="columns_wrap">
            <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
               <div class="sc_layouts_item"><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
            </div>
            <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
               <div class="sc_layouts_item">
                  <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                     <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                        <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-105">
                           <a href="/" class="sf-with-ul"><span>Home</span></a>
                           <ul class="sub-menu" style="display: none;">
                              <li id="menu-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-219 current_page_item menu-item-235"><a href="http://smarthead.ancorathemes.com/"><span>Home 1</span></a></li>
                              <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="http://smarthead.ancorathemes.com/home-2/"><span>Home 2</span></a></li>
                              <li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="http://smarthead.ancorathemes.com/home-3/"><span>Home 3</span></a></li>
                              <li id="menu-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a href="http://smarthead.ancorathemes.com/home-4/"><span>Home 4</span></a></li>
                           </ul>
                        </li>
                        <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                           <a href="/users/features" class="sf-with-ul"><span>Features</span></a>
                           <ul class="sub-menu" style="display: none;">
                              <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                                 <a href="#" class="sf-with-ul"><span>Tools</span></a>
                                 <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://smarthead.ancorathemes.com/shortcodes/"><span>Shortcodes</span></a></li>
                                    <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="http://smarthead.ancorathemes.com/typography/"><span>Typography</span></a></li>
                                 </ul>
                              </li>
                              <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                                 <a href="#" class="sf-with-ul"><span>Help</span></a>
                                 <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://smarthead.ancorathemes.com/support/"><span>Support</span></a></li>
                                    <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://smarthead.ancorathemes.com/video-tutorials/"><span>Video Tutorials</span></a></li>
                                 </ul>
                              </li>
                              <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                                 <a href="#" class="sf-with-ul"><span>Pages</span></a>
                                 <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                                       <a href="#" class="sf-with-ul"><span>About Us</span></a>
                                       <ul class="sub-menu" style="display: none;">
                                          <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://smarthead.ancorathemes.com/about-style-1/"><span>Style 1</span></a></li>
                                          <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="http://smarthead.ancorathemes.com/about-style-2/"><span>Style 2</span></a></li>
                                       </ul>
                                    </li>
                                    <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                                       <a href="#" class="sf-with-ul"><span>Gallery</span></a>
                                       <ul class="sub-menu" style="display: none;">
                                          <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                                          <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://smarthead.ancorathemes.com/gallery-cobbles/"><span>Cobbles</span></a></li>
                                          <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                                       </ul>
                                    </li>
                                 </ul>
                              </li>
                              <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="http://smarthead.ancorathemes.com/shop/"><span>Shop</span></a></li>
                           </ul>
                        </li>
                        <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/users/find_tutor/"><span>Find a Tutor</span></a></li>
                        <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="/users/become_tutor"><span>Become a Tutor</span></a></li>
                        <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119">
                           <a href="/users/inner" class="sf-with-ul"><span>News</span></a>
                           <ul class="sub-menu" style="display: none;">
                              <li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://smarthead.ancorathemes.com/blog-streampage/"><span>Blog Streampage</span></a></li>
                              <li id="menu-item-120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-120">
                                 <a href="#" class="sf-with-ul"><span>Classic Style</span></a>
                                 <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://smarthead.ancorathemes.com/blog-classic-2-columns/"><span>2 Columns</span></a></li>
                                    <li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="http://smarthead.ancorathemes.com/blog-classic-3-columns/"><span>3 Columns</span></a></li>
                                 </ul>
                              </li>
                              <li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-124">
                                 <a href="#" class="sf-with-ul"><span>Chess Style</span></a>
                                 <ul class="sub-menu" style="display: none;">
                                    <li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://smarthead.ancorathemes.com/blog-chess-2-columns/"><span>2 Columns</span></a></li>
                                    <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="http://smarthead.ancorathemes.com/blog-chess-4-columns/"><span>4 Columns</span></a></li>
                                    <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://smarthead.ancorathemes.com/blog-chess-6-columns/"><span>6 Columns</span></a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="/users/contacts"><span>Contacts</span></a></li>
                     </ul>
                  </nav>
                  <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                     <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#">
                     <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- /.sc_layouts_row -->
      </div>
      <!-- /.content_wrap -->
   </div>
   <div class="sc_layouts_row_fixed_placeholder"></div>
   <!-- /.top_panel_navi -->
</header>


<div class="menu_mobile_overlay" style="display: none;"></div>


<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
   <div class="menu_mobile_inner">
      <a class="menu_mobile_close icon-cancel"></a><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a>
      <nav class="menu_mobile_nav_area ">
         <ul id="menu_mobile" class=" menu_mobile_nav">
            <li id="menu_mobile-item-105" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-105">
               <a href="#"><span>Home</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-235" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-219 current_page_item menu-item-235"><a href="http://smarthead.ancorathemes.com/"><span>Home 1</span></a></li>
                  <li id="menu_mobile-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234"><a href="http://smarthead.ancorathemes.com/home-2/"><span>Home 2</span></a></li>
                  <li id="menu_mobile-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="http://smarthead.ancorathemes.com/home-3/"><span>Home 3</span></a></li>
                  <li id="menu_mobile-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a href="http://smarthead.ancorathemes.com/home-4/"><span>Home 4</span></a></li>
               </ul>
            </li>
            <li id="menu_mobile-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
               <a href="#"><span>Features</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                     <a href="#"><span>Tools</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="http://smarthead.ancorathemes.com/shortcodes/"><span>Shortcodes</span></a></li>
                        <li id="menu_mobile-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="http://smarthead.ancorathemes.com/typography/"><span>Typography</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                     <a href="#"><span>Help</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://smarthead.ancorathemes.com/support/"><span>Support</span></a></li>
                        <li id="menu_mobile-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://smarthead.ancorathemes.com/video-tutorials/"><span>Video Tutorials</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                     <a href="#"><span>Pages</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                           <a href="#"><span>About Us</span><span class="open_child_menu"></span></a>
                           <ul class="sub-menu">
                              <li id="menu_mobile-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="http://smarthead.ancorathemes.com/about-style-1/"><span>Style 1</span></a></li>
                              <li id="menu_mobile-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="http://smarthead.ancorathemes.com/about-style-2/"><span>Style 2</span></a></li>
                           </ul>
                        </li>
                        <li id="menu_mobile-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                           <a href="#"><span>Gallery</span><span class="open_child_menu"></span></a>
                           <ul class="sub-menu">
                              <li id="menu_mobile-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                              <li id="menu_mobile-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="http://smarthead.ancorathemes.com/gallery-cobbles/"><span>Cobbles</span></a></li>
                              <li id="menu_mobile-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="http://smarthead.ancorathemes.com/shop/"><span>Shop</span></a></li>
               </ul>
            </li>
            <li id="menu_mobile-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/tutors/"><span>Find a Tutor</span></a></li>
            <li id="menu_mobile-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="http://smarthead.ancorathemes.com/become-a-tutor/"><span>Become a Tutor</span></a></li>
            <li id="menu_mobile-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119">
               <a href="#"><span>News</span><span class="open_child_menu"></span></a>
               <ul class="sub-menu">
                  <li id="menu_mobile-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://smarthead.ancorathemes.com/blog-streampage/"><span>Blog Streampage</span></a></li>
                  <li id="menu_mobile-item-120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-120">
                     <a href="#"><span>Classic Style</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://smarthead.ancorathemes.com/blog-classic-2-columns/"><span>2 Columns</span></a></li>
                        <li id="menu_mobile-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="http://smarthead.ancorathemes.com/blog-classic-3-columns/"><span>3 Columns</span></a></li>
                     </ul>
                  </li>
                  <li id="menu_mobile-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-124">
                     <a href="#"><span>Chess Style</span><span class="open_child_menu"></span></a>
                     <ul class="sub-menu">
                        <li id="menu_mobile-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://smarthead.ancorathemes.com/blog-chess-2-columns/"><span>2 Columns</span></a></li>
                        <li id="menu_mobile-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="http://smarthead.ancorathemes.com/blog-chess-4-columns/"><span>4 Columns</span></a></li>
                        <li id="menu_mobile-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://smarthead.ancorathemes.com/blog-chess-6-columns/"><span>6 Columns</span></a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li id="menu_mobile-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165"><a href="http://smarthead.ancorathemes.com/contacts/"><span>Contacts</span></a></li>
         </ul>
      </nav>
      <div class="search_wrap search_style_normal search_mobile inited">
         <div class="search_form_wrap">
            <form role="search" method="get" class="search_form" action="http://smarthead.ancorathemes.com/">
               <input type="text" class="search_field" placeholder="Search" value="" name="s">
               <button type="submit" class="search_submit trx_addons_icon-search"></button>
            </form>
         </div>
      </div>
      <div class="socials_mobile"><span class="social_item"><a href="https://twitter.com/ancora_themes" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a></span><span class="social_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a></span><span class="social_item"><a href="https://www.instagram.com/ancora_themes/" target="_blank" class="social_icons social_instagram"><span class="trx_addons_icon-instagram"></span></a></span><span class="social_item"><a href="https://dribbble.com/AncoraThemes" target="_blank" class="social_icons social_dribbble"><span class="trx_addons_icon-dribbble"></span></a></span></div>
   </div>
</div>




<div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 13%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;">
   <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://smarthead.ancorathemes.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" title="slide1" width="1920" height="890" data-lazyload="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="">-->
   <div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide1.jpg"></div>
</div>
<div class="page_content_wrap scheme_default">
   <div class="content_wrap">
      <div class="content">
         <article id="post-219" class="post_item_single post_type_page post-219 page type-page status-publish hentry">
            <div class="post_content entry-content">
               <div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485445769518 vc_row-has-fill vc_row-no-padding special_class_1" style="position: relative; left: -171.182px; box-sizing: border-box; width: 1372px;">
                  <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                     <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                           <div class="wpb_revslider_element wpb_content_element">
                              <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin: 0px auto; background: transparent; padding: 0px; height: 643px; overflow: visible;">
                                 <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" style="margin-top: 0px; margin-bottom: 0px; height: 643px;" data-version="5.4.6.4" data-slideactive="rs-4">
                                    <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1372px; height: 100%; max-height: none; left: 0px;">
                                       <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide">
                                          <div class="slotholder" >
                                             <!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="http://smarthead.ancorathemes.com/wp-content/plugins/revslider/admin/assets/images/dummy.png" alt="" title="slide2" width="1920" height="890" data-lazyload="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg defaultimg" data-no-retina="">-->
                                             <div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://smarthead.ancorathemes.com/wp-content/uploads/2017/01/slide2.jpg"></div>
                                          </div>
                                          <!-- LAYERS -->
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="vc_row wpb_row vc_inner vc_row-fluid special_class_2">
                              <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                                 <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                       <div class="tp-form-shortcode-wrap">
                                          <div class="tp-form-header">
                                             <h6 class="tp-form-title">Find Your</h6>
                                             <h4 class="tp-form-title">Tutor</h4>
                                          </div>
                                          <div class="tp-form">
                                             <form role="search" action="/users/gettutors" method="get" id="tutor-search-form" class="tutor-plugin tutor-plugin-form-search">
                                                <input type="hidden" name="post_type" value="tutor">
                                                <input type="hidden" name="s" value="">
                                                <input type="text" name="n" placeholder="Enter a Subject" value="" autocomplete="off">
                                                <span class="type-number"><input type="number" name="z" min="0" placeholder="Zipcode" value="" autocomplete="off"><span class="q_inc"></span><span class="q_dec"></span></span>
                                                <label class="select_container">
                                                   <select name="g" class="filled">
                                                      <option value="all" selected="">All Groups</option>
                                                      <option value="online">Online</option>
                                                      <option value="personal">Personal</option>
                                                   </select>
                                                </label>
                                                <div class="tp-form-button">
                                                   <button type="submit" value="f" class="sc_button_hover_slide_left">Find Now</button>
                                                </div>
                                             </form>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485445777014 vc_row-has-fill" style="position: relative; left: -175.545px; box-sizing: border-box; width: 1381px; padding-left: 175.545px; padding-right: 175.455px;">
                  <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                     <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                           <div id="sc_title_1988846377" class="sc_title sc_title_default  vc_custom_1484220986265">
                              <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">We Provide the Best Tutoring Service</h6>
                              <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Useful <span class="accent_color">Information</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
                           </div>
                           <!-- /.sc_title -->
                           <div id="sc_promo_343668200" class="sc_promo sc_promo_default sc_promo_size_normal sc_promo_no_paddings sc_promo_image_position_right">
                              <div class="sc_promo_image" style="background-image:url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/photo11.jpg);width:51%;right: 0;"></div>
                              <a href="/video-tutorials/" class="sc_promo_link_on_image">View Our Video Presentation<span class="icon-play"></span>
                              </a>
                              <div class="sc_promo_text" style="width: 49%;float: left;">
                                 <div class="sc_promo_text_inner" style="">
                                    <h6 class="sc_item_subtitle sc_promo_subtitle sc_align_left sc_item_title_style_default">Most Popular</h6>
                                    <h3 class="sc_item_title sc_promo_title sc_align_left sc_item_title_style_default">Trending Subjects</h3>
                                    <div class="sc_promo_content sc_item_content">
                                       <div class="vc_wp_custommenu wpb_content_element columns-2">
                                          <div class="widget widget_nav_menu">
                                             <div class="menu-subjects-container">
                                                <ul id="menu-subjects" class="menu">
                                                   <li id="menu-item-174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-174"><a href="/users/maths">Mathematics</a></li>
                                                   <li id="menu-item-175" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-175"><a href="/tutors/">Creative Writing</a></li>
                                                   <li id="menu-item-176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-176"><a href="/tutors/">English</a></li>
                                                   <li id="menu-item-177" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-177"><a href="/tutors/">Accounting</a></li>
                                                   <li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178"><a href="/tutors/">Coding</a></li>
                                                   <li id="menu-item-179" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-179"><a href="/tutors/">Spanish</a></li>
                                                   <li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a href="/tutors/">Communication</a></li>
                                                   <li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a href="/tutors/">Business Studies</a></li>
                                                   <li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a href="/tutors/">Chemistry</a></li>
                                                   <li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="/tutors/">Engineering</a></li>
                                                   <li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="/tutors/">Architecture</a></li>
                                                   <li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="/tutors/">Marketing</a></li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="sc_item_button sc_item_button_default sc_promo_button sc_align_left sc_button_wrap">
                                       <a href="/tutors/" id="sc_button_1890892721" class="sc_button sc_button_default sc_button_size_normal sc_button_icon_left sc_button_hover_slide_left">
                                          <span class="sc_button_text"><span class="sc_button_title">More Subjects</span></span><!-- /.sc_button_text -->
                                       </a>
                                       <!-- /.sc_button -->
                                    </div>
                                    <!-- /.sc_item_button sc_item_button_default sc_promo_button sc_align_left -->
                                 </div>
                              </div>
                              <!-- /.sc_promo_text -->
                           </div>
                           <!-- /.sc_promo -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </article>
      </div>
   </div>
</div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1484230061946 vc_row-has-fill inverse_colors special_class_1" style="position: relative; left: -175.545px; box-sizing: border-box; width: 1720px; padding-left: 175.545px; padding-right: 175.455px;">
   <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div class="sc_services sc_services_iconed" data-slides-per-view="3" data-slides-min-width="250">
               <h6 class="sc_item_subtitle sc_services_subtitle sc_align_default sc_item_title_style_default">All Tutors are Guaranteed by Us</h6>
               <h2 class="sc_item_title sc_services_title sc_align_default sc_item_title_style_default">100% <span class="accent_color">Guarantee</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
               <div class="sc_services_columns sc_item_columns sc_item_columns_3 trx_addons_columns_wrap columns_padding_bottom">
                  <div class="trx_addons_column-1_3 ">
                     <div class="sc_services_item with_content with_icon sc_services_item_featured_top">
                        <div class="sc_services_item_header">
                           <a href="http://smarthead.ancorathemes.com/services/professional-tutors/" id="sc_services_1714345589_icon-prof" class="sc_services_item_icon icon-prof"></a>   
                        </div>
                        <div class="sc_services_item_content">
                           <h6 class="sc_services_item_title"><a href="http://smarthead.ancorathemes.com/services/professional-tutors/">Professional Tutors</a></h6>
                           <div class="sc_services_item_subtitle"><a href="http://smarthead.ancorathemes.com/services_group/guarantee/" title="View all posts in Guarantee">Guarantee</a></div>
                           <div class="sc_services_item_text">
                              <p>Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis </p>
                           </div>
                           <div class="sc_services_item_button sc_item_button"><a href="http://smarthead.ancorathemes.com/services/professional-tutors/" class="sc_button sc_button_simple">Learn more</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="trx_addons_column-1_3 ">
                     <div class="sc_services_item with_content with_icon sc_services_item_featured_top">
                        <div class="sc_services_item_header">
                           <a href="http://smarthead.ancorathemes.com/services/real-results-only/" id="sc_services_1714345589_icon-real-results" class="sc_services_item_icon icon-real-results"></a> 
                        </div>
                        <div class="sc_services_item_content">
                           <h6 class="sc_services_item_title"><a href="http://smarthead.ancorathemes.com/services/real-results-only/">Real Results Only</a></h6>
                           <div class="sc_services_item_subtitle"><a href="http://smarthead.ancorathemes.com/services_group/guarantee/" title="View all posts in Guarantee">Guarantee</a></div>
                           <div class="sc_services_item_text">
                              <p>Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis </p>
                           </div>
                           <div class="sc_services_item_button sc_item_button"><a href="http://smarthead.ancorathemes.com/services/real-results-only/" class="sc_button sc_button_simple">Learn more</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="trx_addons_column-1_3 ">
                     <div class="sc_services_item with_content with_icon sc_services_item_featured_top">
                        <div class="sc_services_item_header">
                           <a href="http://smarthead.ancorathemes.com/services/university-approved/" id="sc_services_1714345589_icon-university" class="sc_services_item_icon icon-university"></a>   
                        </div>
                        <div class="sc_services_item_content">
                           <h6 class="sc_services_item_title"><a href="http://smarthead.ancorathemes.com/services/university-approved/">University Approved</a></h6>
                           <div class="sc_services_item_subtitle"><a href="http://smarthead.ancorathemes.com/services_group/guarantee/" title="View all posts in Guarantee">Guarantee</a></div>
                           <div class="sc_services_item_text">
                              <p>Et scaevola delicata vix, mea ei invidunt indoctum, quodsi eripuit definiebas at pri. Placerat voluptaria ex mel. Eos malis </p>
                           </div>
                           <div class="sc_services_item_button sc_item_button"><a href="http://smarthead.ancorathemes.com/services/university-approved/" class="sc_button sc_button_simple">Learn more</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.sc_services -->
            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1484143305148 vc_row-has-fill special_class_3">
               <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
                  <div class="vc_column-inner ">
                     <div class="wpb_wrapper">
                        <div class="wpb_text_column wpb_content_element  special_class_4">
                           <div class="wpb_wrapper">
                              <p><span class="title-1">Love the Lesson</span><br>
                                 <span class="title-2">Or It’s FREE</span><br>
                                 *We guarantee that you’ll be satisfied with your first lesson.<br>
                                 If not, we’ll cover it
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="wpb_wrapper">
   <div id="sc_title_1403037086" class="sc_title sc_title_default  vc_custom_1484220999465">
      <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">Find the Right Tutor for You</h6>
      <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Featured <span class="accent_color">Tutors</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
   </div>
   <!-- /.sc_title -->
   <div class="tp-container" data-slides="3">
      <div class="tp-columns-container row">

      <!----------start of tutor profile--->
         {{# each tutors}}
         <div class="tutor-plugin column-1-3 col-lg-4">
            {{# each this}}
            <div id="post-572" class="post-572 tutor type-tutor status-publish has-post-thumbnail hentry tutor_group-personal tutor_tag-chemistry tutor_tag-coding tutor_tag-communication">
               <div class="tp-single tp-post">
                  <div class="tp-featured">
                     <img width="740" height="792" src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg" class="attachment-tutor-archive size-tutor-archive wp-post-image" alt="" srcset="http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-740x792.jpg 740w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-280x300.jpg 280w, http://smarthead.ancorathemes.com/wp-content/uploads/2016/11/tutor2-370x397.jpg 370w" sizes="(max-width: 740px) 100vw, 740px">                            
                     <div class="tp-featured-overlay">
                        <div class="tp-price">
                           <span class="tp-present-price"><span class="small">$</span>{{this.price}}                                           </span>
                           <span class="tp-period-price">hour                                                </span>
                        </div>
                     </div>
                  </div>
                  <div class="tp-content">
                     <div class="tp-subjects"><a href="" class="tp-tutor-subjects">{{this.subjects}}</a> 
                     <div class="tp-title">
                        <a class="tp-title-link" href="">{{this.name}}</a>
                     </div>
                     <div class="tp-read-more">
                        <a class="tp-title-read-more sc_button_hover_slide_left" href="/users/viewtutor">View Tutor</a>
                     </div>
                  </div>
               </div>
            </div>
            {{/each}}
         </div>
         {{/each}}
         <!-----end of tutor profile--->
      
      </div>
   </div>
</div>
<div id="sc_action_226130652" class="sc_action sc_action_simple  vc_custom_1495537959265" data-slides-min-width="250">
   <div class="sc_action_content sc_item_content">
      <div class="sc_action_item sc_action_item_simple sc_action_item_ml">
         <h3 class="sc_action_item_title"><span>Want to become a tutor in <span class="accent_color">SmartHead?</span></span></h3>
         <div class="sc_action_item_description"><span>SmartHead collaborate professional and talented tutors from all over the world! Join us right now!</span></div>
         <a href="/tutor-registration-page/" class="sc_action_item_link sc_button_hover_slide_left">register now</a>
      </div>
   </div>
</div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1485435081882 vc_row-has-fill inverse_colors" style="position: relative; left: -175.545px; box-sizing: border-box; width: 1381px; padding-left: 175.545px; padding-right: 175.455px;">
   <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div id="sc_content_1814383536" class="sc_content sc_content_default sc_align_center">
               <div class="sc_content_container">
                  <div id="sc_action_952714058" class="sc_action sc_action_default" data-slides-min-width="400">
                     <div class="sc_action_content sc_item_content">
                        <div class="sc_action_item sc_action_item_default sc_action_item_mc">
                           <h6 class="sc_action_item_subtitle"><span>Call Us <a href="tel:800-123-4567">800-123-4567</a></span></h6>
                           <h3 class="sc_action_item_title"><span>Do You Need Help?</span></h3>
                           <div class="sc_action_item_description"><span>Our specialists can help you with finding the right tutor for you or your kids</span></div>
                           <a href="/appointment/" class="sc_action_item_link sc_button_hover_slide_left">make an appointment</a>
                        </div>
                     </div>
                  </div>
                  <!-- /.sc_action -->
               </div>
            </div>
            <!-- /.sc_content -->
         </div>
      </div>
   </div>
</div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1484231990562 vc_row-has-fill" style="position: relative; left: -175.545px; box-sizing: border-box; width: 1381px; padding-left: 175.545px; padding-right: 175.455px;">
   <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div id="sc_title_2010920979" class="sc_title sc_title_default  vc_custom_1484231980126">
               <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">Enjoy Online Lessons with Tutors</h6>
               <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Online <span class="accent_color">Lessons</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
            </div>
            <!-- /.sc_title -->
            <div id="sc_promo_1761892766" class="sc_promo sc_promo_default sc_promo_size_normal sc_promo_no_paddings sc_promo_image_position_left">
               <div class="sc_promo_image" style="background-image:url(http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/promo-bg-2.jpg);width:51%;left: 0;"></div>
               <div class="sc_promo_text" style="width: 49%;float: right;">
                  <div class="sc_promo_text_inner" style="">
                     <h6 class="sc_item_subtitle sc_promo_subtitle sc_align_left sc_item_title_style_default">Find Best</h6>
                     <h3 class="sc_item_title sc_promo_title sc_align_left sc_item_title_style_default">Tutors Anywhere</h3>
                     <div class="sc_promo_content sc_item_content">
                        <div class="wpb_text_column wpb_content_element ">
                           <div class="wpb_wrapper">
                              <p>Voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
                           </div>
                        </div>
                        <div id="sc_skills_1187789626" class="sc_skills sc_skills_counter  vc_custom_1484232663769" data-type="counter">
                           <div class="sc_skills_columns sc_item_columns trx_addons_columns_wrap columns_padding_bottom">
                              <div class="sc_skills_column trx_addons_column-1_3">
                                 <div class="sc_skills_item_wrap">
                                    <div class="sc_skills_item">
                                       <div class="sc_skills_total" data-start="0" data-stop="50000" data-step="550" data-max="55000" data-speed="13" data-duration="1182" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_item_title">Great Tutors</div>
                                 </div>
                              </div>
                              <div class="sc_skills_column trx_addons_column-1_3">
                                 <div class="sc_skills_item_wrap">
                                    <div class="sc_skills_item">
                                       <div class="sc_skills_total" data-start="0" data-stop="52100" data-step="550" data-max="55000" data-speed="18" data-duration="1705" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_item_title">Clever Students</div>
                                 </div>
                              </div>
                              <div class="sc_skills_column trx_addons_column-1_3">
                                 <div class="sc_skills_item_wrap">
                                    <div class="sc_skills_item">
                                       <div class="sc_skills_total" data-start="0" data-stop="3900" data-step="550" data-max="55000" data-speed="22" data-duration="156" data-ed="">0</div>
                                    </div>
                                    <div class="sc_skills_item_title">World's Cities</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- /.sc_promo_text -->
            </div>
            <!-- /.sc_promo -->
         </div>
      </div>
   </div>
</div>