<div class="vc_row wpb_row vc_row-fluid vc_custom_1486386700771">
   <div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div id="sc_title_1966858733" class="sc_title sc_title_default  vc_custom_1486386226873">
               <h6 class="sc_item_subtitle sc_title_subtitle sc_align_default sc_item_title_style_default">Tutor with the Best!</h6>
               <h2 class="sc_item_title sc_title_title sc_align_default sc_item_title_style_default">Personal <span class="accent_color">Details</span><span class="decorative-line" style="display: inline-block; position: absolute; border-top: 1px dashed; top: 0.6em; right: 1006px; left: -1006px; width: 100%;"></span></h2>
            </div>
            <!-- /.sc_title -->
         </div>
      </div>
   </div>
   <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element  vc_custom_1495537060802">
               <div class="wpb_wrapper">
                  <h6>Registration Form</h6>
                  <div></div>
               </div>
            </div>
            <div role="form" class="wpcf7" id="wpcf7-f718-p663-o1" lang="en-US" dir="ltr">
               <div class="screen-reader-response"></div>
               <form action="/tutor-registration-page/#wpcf7-f718-p663-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                  <div style="display: none;">
                     <input type="hidden" name="_wpcf7" value="718">
                     <input type="hidden" name="_wpcf7_version" value="5.0.2">
                     <input type="hidden" name="_wpcf7_locale" value="en_US">
                     <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f718-p663-o1">
                     <input type="hidden" name="_wpcf7_container_post" value="663">
                  </div>
                  <p><label> About you<br>
                     <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span> </label>
                  </p>
                  <p><label>Full Name (required)<br>
                     <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label>
                  </p>
                  <p><label>Mobile Number(required)<br>
                     <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label>
                  </p>
                  <p><label>Date Of Birth<br>
                     <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false"></span> </label>
                  </p>
                  <p><label>Country<br>
                     <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span> </label>
                  </p>
                  <p><label>City/Town<br>
                     <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false"></span> </label>
                  </p>
                  <p><input type="submit" value="Save&next" class="wpcf7-form-control wpcf7-submit sc_button_hover_slide_left"><span class="ajax-loader"></span></p>
                  <div class="wpcf7-response-output wpcf7-display-none"></div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left">
      <div class="vc_column-inner ">
         <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
               <div class="wpb_wrapper">
                  <h6>Skill Requirements</h6>
                  <p>Private tutoring is not always effective in raising academic achievement and in some schools students commonly skip classes or sleep through lessons because they are tired after excessive external study. This means that the shadow system can make regular schooling less efficient.</p>
                  <p>Teachers who spend more time focusing on private lessons than regular classes can cause greater inefficiencies in the mainstream school system. Situations in which teachers provide extra private lessons for pupils for whom they are already responsible in the public system can lead to corruption.</p>
               </div>
            </div>
            <div class="wpb_text_column wpb_content_element  vc_custom_1495537261619">
               <div class="wpb_wrapper">
                  <ul>
                     <li>Knowledge of subject matter</li>
                     <li>Ability to effectively communicate subject matter</li>
                     <li>Application of different learning strategies including active learning and peer-to-peer techniques</li>
                     <li>Ability to listen and answer questions during tutoring sessions</li>
                     <li>Set goals and/or expectations during the first few sessions</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>