





<div class="top_panel_top">
   <div class="content_wrap">
      <div class="custom_button_language">
         <a href="#" class="language_button down"><span>Language</span></a>
         <ul class="language_list">
            <li><a rel="alternate" hreflang="en" href="/" class="active">English</a></li>
         </ul>
      </div>
      <a href="#trx_addons_login_popup" class="trx_addons_popup_link trx_addons_login_link  inited"><span class="sc_layouts_item_icon sc_layouts_login_icon trx_addons_icon-user-alt"></span><span class="sc_layouts_item_details sc_layouts_login_details">Login</span></a>        
   </div>
</div>
<div class="top_panel_navi sc_layouts_row sc_layouts_row_type_normal sc_layouts_row_fixed    scheme_default" style="top: auto;">
   <div class="content_wrap">
      <div class="columns_wrap">
         <div class="sc_layouts_column sc_layouts_column_align_left sc_layouts_column_icons_position_left column-1_4">
            <div class="sc_layouts_item"><a class="sc_layouts_logo" href="#"><img src="http://smarthead.ancorathemes.com/wp-content/uploads/2016/12/logotype.png" width="440" height="90"></a></div>
         </div>
         <div class="sc_layouts_column sc_layouts_column_align_right sc_layouts_column_icons_position_left column-3_4">
            <div class="sc_layouts_item">
               <nav class="menu_main_nav_area sc_layouts_hide_on_mobile">
                  <ul id="menu_main" class="sc_layouts_menu_nav menu_main_nav inited sf-js-enabled sf-arrows">
                     <li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-105"><a href="/" class="sf-with-ul"><span>Home</span></a>
                     <li id="menu-item-106" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-106">
                        <a href="/users/features" class="sf-with-ul"><span>Features</span></a>
                        <ul class="sub-menu" style="display: none;">
                           <li id="menu-item-107" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-107">
                              <a href="#" class="sf-with-ul"><span>Tools</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="#"><span>Shortcodes</span></a></li>
                                 <li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="#"><span>Typography</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-113" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-113">
                              <a href="#" class="sf-with-ul"><span>Help</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="#"><span>Support</span></a></li>
                                 <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="#"><span>Video Tutorials</span></a></li>
                              </ul>
                           </li>
                           <li id="menu-item-114" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-114">
                              <a href="#" class="sf-with-ul"><span>Pages</span></a>
                              <ul class="sub-menu" style="display: none;">
                                 <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-236">
                                    <a href="#" class="sf-with-ul"><span>About Us</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-237" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-237"><a href="#"><span>Style 1</span></a></li>
                                       <li id="menu-item-238" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-238"><a href="#"><span>Style 2</span></a></li>
                                    </ul>
                                 </li>
                                 <li id="menu-item-115" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-115">
                                    <a href="#" class="sf-with-ul"><span>Gallery</span></a>
                                    <ul class="sub-menu" style="display: none;">
                                       <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="http://smarthead.ancorathemes.com/galllery-grid/"><span>Grid</span></a></li>
                                       <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="#"><span>Cobbles</span></a></li>
                                       <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="http://smarthead.ancorathemes.com/gallery-masonry/"><span>Masonry</span></a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li id="menu-item-549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-549"><a href="#"><span>Shop</span></a></li>
                        </ul>
                     </li>
                     <li id="menu-item-548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-548"><a href="/users/find_tutor"><span>Find a Tutor</span></a></li>
                     <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164"><a href="/users/become_tutor"><span>Become a Tutor</span></a></li>
                     <li id="menu-item-119" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-119"><a href="/users/inner" class="sf-with-ul"><span>News</span></a>
                     <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-128 current_page_item menu-item-165"><a href="#"><span>Contacts</span></a></li>
                  </ul>
               </nav>
               <div class="sc_layouts_iconed_text sc_layouts_menu_mobile_button">
                  <a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="/contactsfea">
                  <span class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.sc_layouts_row -->
   </div>
   <!-- /.content_wrap -->
</div>
<div class="top_panel_title sc_layouts_row">
   <div class="content_wrap">
      <div class="sc_layouts_column sc_layouts_column_align_center">
         <div class="sc_layouts_item">
            <div class="sc_layouts_title">
               <div class="sc_layouts_title_title">
                  <h1 class="sc_layouts_title_caption">Profile</h1>
               </div>
               <div class="sc_layouts_title_breadcrumbs">
                  <div class="breadcrumbs"><a class="breadcrumbs_item home" href="/">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">profile</span></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="page_content_wrap scheme_default">

                                <div class="content_wrap">
                
                    
                    
                    <div class="content">
                                        

<article id="post-21" class="post_item_single post_type_page post-21 page type-page status-publish hentry">

    
    <div class="post_content entry-content">
        <div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <h2 style="text-align: center;">Accordion and Tabs</h2>
<div></div>

        </div>
    </div>
</div></div></div></div><div class="wpb_column vc_column_container vc_col-sm-6 sc_layouts_column_icons_position_left"><div class="vc_column-inner "><div class="wpb_wrapper"><div class="vc_tta-container" data-vc-action="collapse"><div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-center"><div class="vc_tta-tabs-container"><ul class="vc_tta-tabs-list"><li class="vc_tta-tab vc_active" data-vc-tab=""><a href="#1478599254159-3b4bc66e-8708" data-vc-tabs="" data-vc-container=".vc_tta" class="sc_button_hover_slide_left sc_button_hover_style_alterbd"><span class="vc_tta-title-text">Tab 1</span></a></li><li class="vc_tta-tab" data-vc-tab=""><a href="#1478599254175-a772722c-6fde" data-vc-tabs="" data-vc-container=".vc_tta" class="sc_button_hover_slide_left sc_button_hover_style_alterbd"><span class="vc_tta-title-text">Tab 2</span></a></li><li class="vc_tta-tab" data-vc-tab=""><a href="#1479300808002-2c5bd296-e4e6" data-vc-tabs="" data-vc-container=".vc_tta" class="sc_button_hover_slide_left sc_button_hover_style_alterbd"><span class="vc_tta-title-text">Tab 3</span></a></li></ul></div><div class="vc_tta-panels-container"><div class="vc_tta-panels"><div class="vc_tta-panel vc_active" id="1478599254159-3b4bc66e-8708" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1478599254159-3b4bc66e-8708" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Tab 1</span></a></h4></div><div class="vc_tta-panel-body" style="">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam purus nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam et erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation porta ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
<p>Suspendisse a sapien consectetur justo pulvinar egestas. Sed amet orci et imperdiet iaculis arcu, porta semper lacus volutpat et.</p>

        </div>
    </div>
</div></div><div class="vc_tta-panel" id="1478599254175-a772722c-6fde" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1478599254175-a772722c-6fde" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Tab 2</span></a></h4></div><div class="vc_tta-panel-body" style="">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam purus nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam et erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation porta ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
<p>Suspendisse a sapien consectetur justo pulvinar egestas. Sed amet orci et imperdiet iaculis arcu, porta semper lacus volutpat et.</p>

        </div>
    </div>
</div></div><div class="vc_tta-panel" id="1479300808002-2c5bd296-e4e6" data-vc-content=".vc_tta-panel-body"><div class="vc_tta-panel-heading"><h4 class="vc_tta-panel-title"><a href="#1479300808002-2c5bd296-e4e6" data-vc-accordion="" data-vc-container=".vc_tta-container"><span class="vc_tta-title-text">Tab 3</span></a></h4></div><div class="vc_tta-panel-body" style="">
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam purus nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam et erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation porta ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
<p>Suspendisse a sapien consectetur justo pulvinar egestas. Sed amet orci et imperdiet iaculis arcu, porta semper lacus volutpat et.</p>

        </div>
    </div>
</div></div></div></div></div></div></div></div></div></div><!-- </.content> -->

                    </div><!-- </.content_wrap> -->         </div>